{% extends "base.html" %}
{% block title %} Создать тест {% endblock %}
{% block content %}
<body>
    <div class="quiz_form_wrapper">
        <h1 class="quiz_form_name"> Создать тест </h1>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            <div class="error_text">
              {{ form.non_field_errors }}
            </div>

            <div class="quiz_name_wrapper">
                {{ form.quiz_name.errors }}
                <label class="quiz_name_label" for="{{ form.quiz_name.id_for_label }}"> Название теста:  </label>
                <br>
                <br>
                {{ form.title }}
            </div>

            <div class="amount_questions_wrapper">
                <div class="error_text">
                    {{ form.amount_questions.errors }}
                </div>

                <label  class="amount_questions_label" for="{{ form.amount_questions.id_for_label }}"> Количество вопросов:  </label>
                {{ form.amount_questions }}
            </div>

        <input class="submit_button" type="submit" value="Далее">
        </form>

    </div>
</body>
{% endblock %}