<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/index.css' %}">
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

    <div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>

        <div class="top_container">
            <h1 class="site_title"> Quiz website </h1>
            <p class="site_description"> Пройдите существующие тесты или создайте свой </p>
            <a class="create_quiz" href="{% url 'quizzes:create_quiz' %}"> Создать </a>
        </div>

        {% if quizzes %}

            <section class="card_container">
                    {% for quiz in quizzes %}
                        <a class="card" href="{% url 'quizzes:single_quiz' quiz.id %}">
                            <h3 class="quiz_title">{{ quiz.title }}</h3>
                            <h6 class="num_questions">{{ quiz.amount_questions }} вопросов </h6>
                        </a>
                    {% endfor %}
            </section>

        {% else %}
            <p> Нет доступных тестов</p>
        {% endif %}

        <br>
        <br>
        <br>
    </div>
</body>
</html>