{% extends "base.html" %}
{% block title %} Главная страница {% endblock %}
{% block content %}
<body>
    <div class="area" >
        <div class="top_container">
            <h1 class="site_title"> Quiz website </h1>
            <br>
            <br>
            <p class="site_description"> Пройдите существующие тесты или создайте свой </p>
            <a class="create_quiz" href="{% url 'quizzes:create_quiz' %}"> Создать </a>
        </div>

        {% if quizzes %}
            <section class="card_container">
                    {% for quiz in quizzes %}
                        <a class="card" href="{% url 'quizzes:single_quiz' quiz.id %}">
                            <h3 class="quiz_title">{{ quiz.title }}</h3>
                            {% if quiz.amount_questions == 1 %}
                              <h6 class="num_questions"> {{ quiz.amount_questions }} вопрос </h6>
                            {% elif quiz.amount_questions > 4 %}
                              <h6 class="num_questions"> {{ quiz.amount_questions }} вопросов </h6>
                            {% else %}
                              <h6 class="num_questions"> {{ quiz.amount_questions }} вопроса </h6>
                            {% endif %}
                        </a>
                    {% endfor %}
            </section>

        {% else %}
            <br>
            <p> Кажется, у нас нет доступных тестов </p>
        {% endif %}

        <br>
        <br>
        <br>
    </div>
</body>
{% endblock %}