{% extends "base.html" %}
{% block title %} Вопрос {% endblock %}
{% block content %}
<body>
    <div class="question_full_container">
        <h2 class="question_title">{{ current_question.text }}</h2>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        <form action="{% url 'quizzes:answer' quiz.id current_question.question_num %}" method="post">
        {% csrf_token %}

            <div class="radio-toolbar">
                {% for choice in current_question.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                    <br>
                    <br>
                {% endfor %}
            </div>
        <input type="submit" class="submit_button" value={{ next_or_submit }}>
        </form>
    </div>
</body>
{% endblock %}