{% extends "base.html" %}
{% block title %} Тест {% endblock %}
{% block content %}
<body>
    <div class="full_container">
        <h1 class="quiz_title">{{ quiz.title }}</h1>
        {% if quiz.amount_questions == 1 %}
          <h4 class="num_questions"> {{ quiz.amount_questions }} вопрос </h4>
        {% elif quiz.amount_questions > 4 %}
          <h4 class="num_questions"> {{ quiz.amount_questions }} вопросов </h4>
        {% else %}
          <h4 class="num_questions"> {{ quiz.amount_questions }} вопроса </h4>
        {% endif %}
        <a class="link" href="{% url 'quizzes:single_question' quiz.id 1 %}"> Начать тест </a>
        <a class="link" href="{% url 'quizzes:index' %}"> На главную страницу</a>
    </div>
</body>
{% endblock %}